# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html
[client]
default-character-set = utf8

[mysql]
default-character-set = utf8

[mysqld]

# Peter 20170515
early-plugin-load=keyring_file.so
#keyring_file_data=/home/macremote/mysql/mysql-keyring/keyrings

#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

secure-file-priv = ""

bind-address=0.0.0.0

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO
ft_min_word_len = 1
max_allowed_packet = 1G
max_connections = 1000
character_set_filesystem = utf8
collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server = utf8

#peter 20170510 started
optimizer_search_depth = 7
transaction-isolation=READ-UNCOMMITTED

innodb_buffer_pool_size = 2G
innodb_log_file_size = 400M

join_buffer_size = 128M
sort_buffer_size = 256M
read_rnd_buffer_size = 32M
read_buffer_size = 64M

# peter 20170622++
max_heap_table_size = 128M
#table_open_cache=3200
tmp_table_size=128M

#innodb_flush_log_at_trx_commit = 2
#innodb_read_io_threads = 64
#innodb_write_io_threads = 16
# peter 20170622--

# Peter 20170519
lower_case_table_names=1
connect_timeout = 60
log_bin_trust_function_creators = 1

# Peter 20171017
innodb_print_all_deadlocks=ON

group_concat_max_len = 1000000

serverTimezone = UTC